$color-primary: #face5e;
$color-error: #ed5252;
$color-text-primary: #262c33;
$color-text-secondary: #84888c;
$color-text-third: #aab7c4;
$color-text-primary-inv: #e2e2ff;
$color-text-secondary-inv: #686879;
$color-text-third-inv: #aab7c4;
$color-background: #fcfcfc;
$color-background-card: #ffffff;
$color-background-footer: #1b1c22;
