.containerMain {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.btn {
  margin-top: 32px;
  width: 100%;
  max-width: 400px;
  padding: 12px 128px;
}
