@import "src/styles/variables";

.containerMain {
  height: 256px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-background-footer;
  p {
    color: $color-text-primary-inv;
  }
}
