@import "../../styles/variables";

.timeline {
  display: flex;
  width: auto;
  max-width: 1200px;
  margin: 0 auto;
}
.timelineCol {
  padding-left: 32px;
  background-clip: padding-box;
  &:first-of-type {
    margin-top: 32px;
  }
  &:last-of-type {
    margin-top: -64px;
  }
}

.image {
  transition: all 0.1s ease;
  width: 100%;
}

.timelineItem {
  margin-bottom: 32px;
  padding: 16px;
  border-radius: 4px;
  background: $color-background-card;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow: hidden;
  &:hover h2 {
    text-decoration: underline;
  }
  &:hover .image {
    opacity: 0.6;
  }
}

.styledLink {
  color: $color-text-primary;
}
