@import "../../styles/variables";

.timeline {
  margin-top: -32px;
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  width: 100%;
  padding: 0;
}

.image {
  transition: all 0.1s ease;
  width: 100%;
}

.timelineItem {
  padding: 16px;
  margin-bottom: 32px;
  border-radius: 4px;
  width: 90vw;
  max-width: 576px;
  background: $color-background-card;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow: hidden;
  &:hover h2 {
    text-decoration: underline;
  }
  &:hover .image {
    opacity: 0.6;
  }
}

.styledLink {
  color: $color-text-primary;
}

@media (min-width: 1200px) {
  .timeline {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 8px;
    li {
      margin: 0 8px 0 0;
      &:nth-child(even) {
        margin-top: 200px;
      }
      &:nth-child(odd):not(:first-child) {
        margin-top: -140px;
      }
    }
  }
}
